.container {
    display: flex;
    justify-content: space-evenly;
    justify-content: center; /*alinha o conteudo no centro da pagina*/
    justify-content: flex-start; /* alinha todo o conteudo a esquerda*/
    justify-content: flex-end; /* alinha todo o conteudo a direita*/
    justify-content: space-between; /* distribui igualmente todo o o conteudo no Start até o End */
    justify-content: space-around; /*distribui o conteudo com margens iguais*/


}

.item {    
    width: 120px;
    height: 120px;
    background-color: steelblue;
    color: white;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caixagrande {
    margin-top: 100px;/*DELETAR DEPOIS É APANAS PARA SEPARAR O EXERCICIO*/

    display: flex;
    width: 600px;
    height: 300px;    
    background-color: tomato;

    /*centralizar a caixa*/
    justify-content: center;
    align-items: center;


}

.caixamenor {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: gold;

    /*centralizar o conteudo*/
    justify-content: center;
    align-items: center;

}




